{# empty Twig template #}
{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <div id="container">

            <div id="status">
                <p>
                    Api section
                </p>
            </div>

            <div id="next">
                <a href="/secret"> top secret section</a>
            </div>

            <div id="next">
                <a href="/logout"> logout</a>
            </div>
<code>{{ phpsessid }}</code>
        </div>
    </div>
{% endblock %}

